
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>Planning</title>
		<link rel="stylesheet" href="../css/css.css"/>
	<head>
	<body>
		<h1>Planning</h1>
		<header>
			<!-- Image Logo (Dossier assets) -->
			<img src="../assets/merci_gemini.png" alt="Logo du Club Omnisport" >
			<h1>Bienvenue au Club Omnisport</h1>
		</header>
		<nav>
			<ul>
				<li><a href="../index.html" alt="accueil"> accueil</a></li>
				<li><a href="inscription.html" alt="inscription"> inscription</a></li>
				<li><a href="#" alt="planning"> planning</a></li>
				<li><a href="https://www.google.com/?hl=fr" alt="google"> google</a></li>
			</ul>
		</nav>
		<main>
			<table border="1">
				<thead>
					<tr>
						<th>
							heure/jour
						</th>
						<th>
							lundi
						</th>
						<th>
							mardi
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1e
						</td>
						<td>
							math
						</td>
						<td>
							fr
						</td>
					</tr>
					<tr>
						<td>
							2e
						</td>
						<td>
							sc
						</td>
						<td>
							info
						</td>
					</tr>
					<tr>
						<td>
							3e
						</td>
						<td>
							rel
						</td>
						<td>
							géo
						</td>
					</tr>
				</tbody>
			</table>
		</main>

		<footer>
			<p>&copy; 2023 Club Omnisport - Tous droits réservés</p>
		</footer>
	</body>
</html>
