
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>Inscription</title>
		<link rel="stylesheet" href="../css/css.css"/>
	<head>
	<body>
		<h1>Inscription</h1>
		<header>
			<!-- Image Logo (Dossier assets) -->
			<img src="../assets/merci_gemini.png" alt="Logo du Club Omnisport" >
			<h1>Bienvenue au Club Omnisport</h1>
		</header>
		<nav>
			<ul>
				<li><a href="../index.html" alt="accueil"> accueil</a></li>
				<li><a href="#" alt="inscription"> inscription</a></li>
				<li><a href="planning.html" alt="planning"> planning</a></li>
				<li><a href="https://www.google.com/?hl=fr" alt="google"> google</a></li>
			</ul>
		</nav>
		<main>
			<form action="#" method="post" class="info-box">
				</br>
				<label for="text"> ecriver dans le champs de text:</label>
				</br>
				<input id="text" name="text" type="text"/>
				</br>
				<label for="email"> ecriver votre adrese mail dans se cadre:</label>
				</br>
				<input id="email" name="email" type="email"/> 
				</br>
				<label for="texta"> ecriver votre commentaire:</label>
				</br>
				<textarea placeholder="ici" id="texta" name="texta"> </textarea>
				</br>
				<input type="submit" />
			</form>
		</main>

		<footer>
			<p>&copy; 2023 Club Omnisport - Tous droits réservés</p>
		</footer>
	</body>
</html>
